<ul class="companies">
  <li *ngFor="let company of companies" (click)="onSelect(company)"
      [class.selected]="company === selectedCompany">
    <span class="badge">{{company.id}}</span>
    <span>{{company.compName}}</span>
    <button class="delete"
      (click)="delete(company); $event.stopPropagation()">x</button>
  </li>

<div class="well">
      <h3>Create new Company</h3>
        <label>Company Name: </label><br>
          <input [(ngModel)]="newCompany.compName" placeholder="Company Name" /><br>
        <label>CompanyEmail: </label><br>
          <input [(ngModel)]="newCompany.email" placeholder="Company Email" /><br>
        <label>Password:</label> <br>
          <input type="password" [(ngModel)]="newCompany.password" /><br>
        <button (click)="add(newCompany); newCompany.compName.value='';newCompany.email.value='';newCompany.compName.password='' ">
        Save
        </button>
</div>

<div class="well" *ngIf="selectedCompany">
  <company-details [company]="selectedCompany"></company-details>
</div>