<ul class="customers">
  <li *ngFor="let customer of customers" (click)="onSelect(customer)"
      [class.selected]="customer === selectedCustomer">
    <span class="badge">{{customer.id}}</span>
    <span>{{customer.custName}}</span>
    <button class="delete"
      (click)="delete(customer); $event.stopPropagation()">x</button>
  </li>

<div class="well">
      <h4>Create new Customer</h4>
        <label>Customer Name: </label><br>
          <input [(ngModel)]="newCustomer.custName" placeholder="Customer Name" /><br>
        <label>Password:</label> <br>
          <input type="password" [(ngModel)]="newCustomer.password" /><br>
        <button (click)="add(newCustomer); newCustomer.custName.value=''">
        Save
        </button>
</div>

<div class="well" *ngIf="selectedCustomer">
  <customer-details [customer]="selectedCustomer"></customer-details>
</div>