<h2> This is customer page component </h2>
<div class="row">
  <div class="col-sm-6">
    <h4>My purchased coupons</h4>
    <accordion>
      <accordion-group *ngFor="let coupon of customerCoupons" (click)="onSelect(coupon)" [class.selected]="coupon === selectedCoupon"
        heading={{coupon.title}}>
        <coupon-expanded [coupon]="coupon"></coupon-expanded>
      </accordion-group>
    </accordion>
  </div>
  
  <div class="col-sm-6">
    <h4>All published coupons</h4>
    <accordion>
      <accordion-group *ngFor="let coupon of allCoupons" (click)="onSelect(coupon)" [class.selected]="coupon === selectedCoupon"
        heading={{coupon.title}}>
        <button class="purchase" (click)="purchaseCoupon(coupon)">Purchase</button>
        <coupon-expanded [coupon]="coupon"></coupon-expanded>
      </accordion-group>
    </accordion>
  </div>
</div>