<h3>Selected Coupon Details</h3>
<div class="coupons">
  <div class="form-group">
    <label for="title">Coupon Title:</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="coupon.title" placeholder="Coupon Title" />
  </div>
  <div class="form-group">
    <label for="startDate">Start Date:</label>
    <input type="text" class="form-control" id="startDate" [(ngModel)]="coupon.startDate" />
  </div>
  <div class="form-group">
    <label for="endDate">End Date:</label>
    <input type="text" class="form-control" id="endDate" [(ngModel)]="coupon.endDate" />
  </div>
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="text" class="form-control" id="amount" [(ngModel)]="coupon.amount" />
  </div>
  <div class="form-group">
    <label for="price">Price:</label>
    <input type="text" class="form-control" id="price" [(ngModel)]="coupon.price" />
  </div>
  <div class="form-group">
    <label for="type">Type:</label>
    <input type="text" class="form-control" id="type" [(ngModel)]="coupon.type" />
  </div>
  <div class="form-group">
    <label for="image">Image:</label>
    <input type="text" class="form-control" id="image" [(ngModel)]="coupon.image" />
  </div>
  <div class="form-group">
    <label for="message">Description:</label>
    <textarea rows="3" class="form-control" id="message" [(ngModel)]="coupon.message"></textarea>
  </div>
  <button (click)="save(coupon)">Save</button>
  <button (click)="cancel()">Cancel</button>
</div>